/*Logo*/
.logoimg {
    height:40px;
    padding:15px 0 0px 40px;
    margin-bottom:-27px;
}

/*ScrollBar*/
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-button {
    width: 8px;
    height:5px;
}
::-webkit-scrollbar-track {
    background:#eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius:10px;
}
::-webkit-scrollbar-thumb {
    background:#999;
    border: thin solid gray;
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
    background:#7d7d7d;
}

/*Menu de Perfil*/
.dropdown-menu i{
    padding-right:5px;
}

.dropdown-menu .last-li{
    padding:5px 0 5px 0; margin-top:5px; border-top:1px solid #dfdfdf;
}

/*Perfil*/

.panel-heading {
    font-size:16px;
}

.panel-heading i{
    color:#209081;
    font-size:18px;
    padding-right:5px;
}

.box {
  width: 300px;
  height: 330px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(0,0,0, .2);
  background: rgba(240,244,195, .1);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #0af;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.wave.-three {
  animation: drift 2500ms infinite linear;
}

.wave.-two {
  animation: drift 5000ms infinite linear;
  opacity: .1;
  background: yellow;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(32,144,129, 1), rgba(221,238,255, 0) 80%, rgba(255,255,255, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.title {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  z-index: 1;
  /*line-height: 300px;*/
  text-align: center;
  /*transform: translate3d(0, 0, 0);*/
  color: white;
  /*text-transform: uppercase;
  font-family: 'Playfair Display', serif;*/
  /*letter-spacing: .4em;*/
  /*font-size: 24px;*/
  /*text-shadow: 0 1px 0 rgba(0,0,0, .1);
  text-indent: .3em;*/
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}


/*Outros*/
.alert-danger {
    padding:5px;
    text-align:center;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

.btn-geo {
    background-color:#29baa6;
    color:#fff;
}

.btn-geo:hover {
    background-color:#209081;
    color:#fff;
}